<div class="exit-form-container">
  <div class="form-header">

    <div class="icon-container">
      <mat-icon>logout</mat-icon>
    </div>

    <div>
      <h2>{{ 'titles.exit' | transloco }}</h2>
      <p>{{ 'subtitles.exit' | transloco }}</p>
    </div>

  </div>

  <form [formGroup]="form" (ngSubmit)="registerExit()">
    <mat-form-field appearance="outline"  class="custom-field">
      <mat-label>
        {{ 'labels.plate' | transloco }}
      </mat-label>

      <input matInput formControlName="plate" placeholder="ABC123" maxlength="6">
      <mat-icon matPrefix> badge</mat-icon>
    </mat-form-field>

    <button mat-flat-button type="submit"class="exit-button" [disabled]="loading">
      <mat-icon>logout</mat-icon>
      {{ 'buttons.registerExit' | transloco }}
    </button>
  </form>
</div>
