<div class="table-container">
  <div class="table-header">

    <div>
      <h2>{{ 'titles.activeVehicles' | transloco }}</h2>
      <p>{{ 'subtitles.activeVehicles' | transloco }}</p>
    </div>

    <div class="vehicles-counter">
      {{ vehicles().length }}
    </div>
  </div>

  @if (loading()) {
  <div class="loading-container">
    <mat-spinner diameter="42"></mat-spinner>
    <span>Loading vehicles...</span>
  </div>

  } @else {
  @if (vehicles().length === 0) {
  <div class="empty-state">
    <div class="empty-icon">
      <mat-icon>directions_car</mat-icon>
    </div>

    <h3>{{ 'subtitles.noActiveVehicles' | transloco }}</h3>
    <p>{{ 'subtitles.noRegisteredVehicles' | transloco }}</p>
  </div>

  } @else {
  <div class="table-wrapper">
    <table mat-table [dataSource]="vehicles()" class="modern-table">

      <ng-container matColumnDef="plate">
        <th mat-header-cell *matHeaderCellDef>
          {{ 'labels.plate' | transloco }}
        </th>

        <td mat-cell *matCellDef="let item">
          <div class="plate-cell">
            <mat-icon>badge</mat-icon>
            <span>{{ item.plate }}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="vehicleType">

        <th mat-header-cell *matHeaderCellDef>
          {{ 'labels.vehicleType' | transloco }}
        </th>

        <td mat-cell *matCellDef="let item">

          <span class="vehicle-badge" [class.motorcycle]="item.vehicleType === 'Moto'">
            {{ item.vehicleType }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="entryDate">

        <th mat-header-cell *matHeaderCellDef>
          {{ 'labels.entryDate' | transloco }}
        </th>

        <td mat-cell *matCellDef="let item">
          <div class="date-cell">
            <mat-icon>schedule</mat-icon>
            {{ item.entryDate | date:'short' }}
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"> </tr>
    </table>
  </div>
  }
  }
</div>
