<h2>{{ 'titles.entry' | transloco }}</h2>

<form [formGroup]="form" (ngSubmit)="registerEntry()">

  <mat-form-field appearance="outline">
    <mat-label>{{ 'labels.plate' | transloco }}</mat-label>
    <input matInput formControlName="plate">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'labels.vehicleType' | transloco }}</mat-label>

    <mat-select formControlName="vehicleTypeId">

      @for (item of vehicleTypes;  track item.id
      ) {
        <mat-option [value]="item.id">
          {{ item.name }}
        </mat-option>
      }

    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="loading">
     {{ 'buttons.registerEntry' | transloco }}
  </button>

</form>
